html.discord-dark {
  --color: #DCDDDE;
  --bgcolor: #36393F;

  --nav-color: var(--color);
  --nav-bgcolor: #202225; // ?

  --menu-bgcolor: #202225;
  --side-bgcolor: #2F3136;

  --main-bgcolor: var(--bgcolor);
  --main-hover-bgcolor: #33353A;

  --input-bgcolor: #40444B;
  --input-icon-color: #B9BBBE;
  --input-icon-hover-color: #FFFFFF;
}
