html.discord-dark, html.discord-light {
  .chat-message {
    padding-left: 72px;
    padding-right: 48px;
    margin: 1rem 0;

    .avatar {
      width: 2.5rem;
      height: 2.5rem;
      left: 16px;
    }
  }
}
